{
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs", "transform-es2015-modules-commonjs"]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false
      }
    ]
  ]
}