<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>ホゲーワールド</div>
  <button type="submit" onclick="XHRrequest()">送信する</button>
</body>
<script>
  const url = 'http://localhost:4040';
  const XHRrequest = () => {
    const XHR = new XMLHttpRequest();
    XHR.open('GET', url);
    XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
    XHR.onreadystatechange = () => {
      console.log(XHR.responseText);
    }
    XHR.onerror = (e) => {
      dom.innerText = `ErrorMsg: ${e}`;
    };
    XHR.send();

    return false;
  };
</script>
</html>